docker/.env
docker/.env.dev
kubernetes/create-dug-secret-out.log
kubernetes/dug-configmap.properties
kubernetes/dug-secrets.properties
venv
kgx
dug/.mypy_cache
*.pyc
db/*
dug-search-client
crawl
normalized_inputs.txt
.DS_Store
