aiohttp
asyncio
fastapi
uvicorn
elasticsearch[async]==8.5.2
gunicorn
itsdangerous
Jinja2
jsonpickle
jsonschema
MarkupSafe
ormar
mistune
pluggy
pyrsistent
pytest
pytest-asyncio
pytz
PyYAML
requests
redis
requests-cache
six

# Click for command line arguments
# We use Click 7.0 because that's what one of the pinned packages above use.
click
httpx
linkml-runtime==1.6.0
bmt==1.1.0
urllib3
