elasticsearch==7.12.0
flake8
flasgger
Flask
Flask-Cors
Flask-RESTful
gunicorn
itsdangerous
Jinja2
jsonschema
MarkupSafe
mistune==2.0.3
pluggy==1.0.0
pyrsistent==0.17.3
pytest
pytz==2021.1
PyYAML==6.0
redis==4.4.2
requests==2.28.2
requests-cache==0.9.8
six==1.16.0
